.wrapper {
    background: #f4f6fa;
    padding: 60px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
}

/* LEFT SIDE */
.left {
    flex: 2;
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.title {
    margin-bottom: 30px;
}

.section {
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.field label {
    font-size: 14px;
    color: #777;
    display: block;
    margin-bottom: 6px;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.field input:focus {
    outline: none;
    border-color: black;
}

/* RIGHT SIDE SUMMARY */
.summary {
    flex: 1;
}

.summaryCard {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 100px;
    margin-top: 5px;
}

.summaryCard p {
    margin-bottom: 10px;
}

.totalBox {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 12px;
    margin: 20px 0;
    text-align: center;
}

.totalBox h2 {
    margin: 10px 0 0;
    font-size: 28px;
}

.paymentBtn {
    width: 100%;
    background: black;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.paymentBtn:hover {
    background: #333;
}

.secureNote {
    text-align: center;
    margin-top: 12px;
    font-size: 13px;
    color: #666;
}