:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg: #f5f5f5;
  --card-bg: #ffffff;
  --border-color: #eeeeee;
  --muted-text: #666666;
  --accent: #c79b3b;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --nav-bg: #000000;
  --card-bg: #111111;
  --border-color: #222222;
  --muted-text: #bbbbbb;
  --accent: #c79b3b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
  font-family: var(--font-body);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.card {
  background: var(--card-bg);
  color: var(--text-color);
}